<!DOCTYPE html>
<html>
    <head>
        <title>CPA Opinionater</title>
        <link type ='text/css' href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"/>
        <script type="module" src="{{ url_for('static', path='/firebase-login.js')}}"></script>
    </head>
    <body>
        
        <div id="login-box" hidden = "true">
            <label>Email:</label>
            <input type="email" name="email" id="email"/>
            <label>Password:</label>
            <input type="password" name="password" id="password"/>
            <div>
            <button id="login">Login</button>
            <button id="sign-up">Sign Up</button>
            </div>
        </div>
        <button id="sign-out" hidden="true">Sign Out</button>

        <!-- if we have a logged in user show the user email address from the user
         -token object that was passed in , we will aslso show the user the documner that has a name and age-->
        {% if user_token %}
        <div>
        {% if error_message and not need_username %}
            <p style="color:red">{{ error_message }}</p>
        {% endif %}

            <!-- set username-->
            {% if need_username %}
                <h2>Set Username</h2>
                {% if error_message %}
                    <p style="color:red">{{ error_message }}</p>
                {% endif %}
                <form method="post" action="/new-username">
                    <input type="text" name="username" required>
                    <button type="submit">Save</button>   
                </form>
                
            {% endif %}

            <!--Main page-->
            {% if user_info %}
                <h2>Welcome!! {{ user_info.username}}</h2>

                <a href="/profile/{{user_info.username}}">My Profile</a>
            {% endif %}
            
            <a href="/search-users">Search Users</a>
            <a href="/search-tweets">Search Tweets</a>

            <form action="/add-tweet" method="post" enctype="multipart/form-data">
                <textarea name="tweet_text" maxlength="280" required></textarea>
                <input type="file" name="file">    
                <button type="submit">Tweet</button>
            </form> 
                
        
            
            <h2>Timeline</h2>
                {% for tweet in tweets %}
                <div>
                    <b>
                        <a href="/profile/{{tweet.username}}">
                            {{ tweet.username }}
                        </a>
                    </b><br>
                    {% if tweet.image_url %}
                        <img src="{{tweet.image_url}}" width="200">
                        
                    {% endif %}
                    {% if tweet.retweet %}
                        <small>Retweeted from {{tweet.original_username}}</small><br>
                    {% endif %}

                    {{ tweet.content }}<br>
                    {% if user_info and tweet.user_id != user_info.user_id and not tweet.retweet %}
                    <form method="post" action="/retweet/{{tweet._id}}">
                        <button type="submit">Retweet</button>
                    </form>
                    {% endif %}
                    <small>{{ tweet.created_at }}</small>
                
                    {% if edit_id == tweet._id|string %}
                        <form method="post" action="/edit-tweet/{{tweet._id}}" enctype="multipart/form-data">
                            <textarea name="tweet_text" maxlength="280" required>{{tweet.content}}</textarea>
                            <input type="file" name="file"> 
                             {% if tweet.image_url %}
                                <label>
                                    <input type="checkbox" name="remove_image"> Remove Image
                                </label>
                            {% endif %}  
                            <button type="submit">Save</button>
                            <a href="/">Cancel</a>
                        </form>
                    {% else %}
                        {% if user_info and tweet.user_id == user_info.user_id %}
                            <a href="/?edit_id={{tweet._id}}">Edit</a>

                            <form method="post" action="/delete-tweet/{{tweet._id}}">
                                <input type="hidden" name="source" value="home">
                                <button type="submit">Delete</button>
                            </form>

                        {% endif %}
                    {% endif %}
                    
                </div>
                {%endfor%} 
        </div>   
        {%endif%}   
    </body>
</html>