<!DOCTYPE html>
<html>
<head>
    <script type="module" src="{{ url_for('static', path='/firebase-login.js')}}"></script>
</head>
<body>
    <div id="login-box" hidden="true">
        <input type="email" id="email"/>
        <input type="password" id="password"/>
        <button id="login">Login</button>
        <button id="sign-up">Sign Up</button>
    </div>
    <button id="sign-out" hidden="true">Sign Out</button>

<h2>{{profile_user.username}}</h2>

<p>{{profile_user.bio}}</p>

    {% if profile_user.profile_picture %}
        <img src="{{ profile_user.profile_picture }}" width="150">
    {% else %}
        <img src="/static/default.png" width="150">      
    {% endif %}
        {% if is_owner %}
        <h3>Edit Bio</h3>
        <form method="post" action="/update-bio">
            <textarea name="bio" maxlength="280">{{profile_user.bio}}</textarea>
            <button type="submit">Save Bio</button>
        </form>

        <h3>Upload Profile Picture</h3>
        <form method="post" action="/upload-profile-picture" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>
        {% endif %}
        <p>Following: {{ profile_user.following|length }}</p>
        <p>Followers: {{ profile_user.followers|length }}</p>
    {% if not is_owner %}    
        {% if is_following %}
            <form method="post" action="/unfollow-user/{{profile_user.username}}">
                <button type="submit">Unfollow</button>
            </form>
        {% else %}
            <form method="post" action="/follow-user/{{profile_user.username}}">
                <button type="submit">Follow</button>
            </form>
        {% endif %}
    {% endif %}        

<h3>Last 10 Tweets</h3>

{% for tweet in tweets %}
<div>
    <b>{{ tweet.username }}</b><br>

    {% if edit_id == tweet._id|string %}
        <form method="post" action="/edit-tweet/{{tweet._id}}" enctype="multipart/form-data">
            <input type="hidden" name="source" value="profile">
            <input type="hidden" name="username" value="profile">
            <textarea name="tweet_text" maxlength="280">{{tweet.content}}</textarea>
            <input type="file" name="file">
            {% if tweet.image_url %}
            <label>
                <input type="checkbox" name="remove_image"> Remove Image
            </label>
            {% endif %}

            <button type="submit">Save</button>
            <a href="/profile/{{profile_user.username}}">Cancel</a>
        </form>
        
    {% else %}

        {% if tweet.retweet %}
            <small>🔁 Retweeted from 
                <a href="/profile/{{tweet.original_username}}">
                    {{tweet.original_username}}
                </a>
            </small><br>
        {% endif %}
        {{tweet.content}}<br>
        {% if tweet.image_url %}
            <img src="{{tweet.image_url}}" width="200"><br>
        {% endif %}

        {% if is_owner %}
            <a href="/profile/{{profile_user.username}}?edit_id={{tweet._id}}">Edit</a>
            <form method="post" action="/delete-tweet/{{tweet._id}}">
                <input type="hidden" name="source" value="profile">
                <input type="hidden" name="username" value="{{profile_user.username}}">
                <button type="submit">Delete</button>
            </form>

        {% endif %}
    {% endif %}

    <small>{{tweet.created_at}}</small>
</div>
{% endfor %}

</body>
</html>
