<h2>{{profile_user.username}}</h2>

<p>{{profile_user.bio}}</p>

    {% if profile_user.profile_picture %}
        <img src="{{ profile_user.profile_picture }}" width="150">  
    {% endif %}
        {% if is_owner %}
        <h3>Upload Profile Picture</h3>
        <form method="post" action="/upload-profile-picture" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>
        {% endif %}
    {% if is_following %}
        <form method="post" action="/unfollow-user/{{profile_user.username}}">
            <button type="submit">Unfollow</button>
        </form>
    {% else %}
        <form method="post" action="/follow-user/{{profile_user.username}}">
            <button type="submit">Follow</button>
        </form>
    {% endif %}

<h3>Last 10 Tweets</h3>

{% for tweet in tweets %}
<div>
    <b>{{ tweet.username }}</b><br>

    {% if edit_id == tweet._id|string %}
        <form method="post" action="/edit-tweet/{{tweet._id}}">
            <input type="text" name="tweet_text" value="{{tweet.content}}" maxlength="280">
            <button type="submit">Save</button>
            <a href="/">Cancel</a>
        </form>
    {% else %}

        {{tweet.content}}<br>

        {% if user_info and tweet.user_id == user_info.user_id %}
            <a href="/?edit_id={{tweet._id}}">Edit</a>
        {% endif %}
    {% endif %}

    <small>{{tweet.created_at}}</small>
</div>
{% endfor %}